In [10]:
import pandas as pd
import numpy as np
file_path = "C:\\Users\\venka\\Downloads\\Lab Session Data.xlsx"
sheet_name = 'Purchase data'
data = pd.read_excel(file_path, sheet_name='Purchase data')
print("Data Head:\n", data.head())
A_columns = ['Candies (#)', 'Mangoes (Kg)', 'Milk Packets (#)']
C_column = 'Payment (Rs)'
A = data[A_columns].values
C = data[C_column].values.reshape(-1, 1)
print(A)
print(C)

Data Head:
   Customer  Candies (#)  Mangoes (Kg)  Milk Packets (#)  Payment (Rs)  \
0      C_1           20             6                 2           386
1      C_2           16             3                 6           289
2      C_3           27             6                 2           393
3      C_4           19             1                 2           110
4      C_5           24             4                 2           280

   Unnamed: 5  Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  ...  \
0         NaN         NaN         NaN         NaN         NaN  ...
1         NaN         NaN         NaN         NaN         NaN  ...
2         NaN         NaN         NaN         NaN         NaN  ...
3         NaN         NaN         NaN         NaN         NaN  ...
4         NaN         NaN         NaN         NaN         NaN  ...

   Unnamed: 12  Unnamed: 13  Unnamed: 14  Unnamed: 15  Unnamed: 16  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

   Unnamed: 17  Unnamed: 18  Candy  Mango  Milk
0          NaN          NaN    1.0   55.0  18.0
1          NaN          NaN    NaN    NaN   NaN
2          NaN          NaN    NaN    NaN   NaN
3          NaN          NaN    NaN    NaN   NaN
4          NaN          NaN    NaN    NaN   NaN

[5 rows x 22 columns]
[[20  6  2]
 [16  3  6]
 [27  6  2]
 [19  1  2]
 [24  4  2]
 [22  1  5]
 [15  4  2]
 [18  4  2]
 [21  1  4]
 [16  2  4]]
[[386]
 [289]
 [393]
 [110]
 [280]
 [167]
 [271]
 [274]
 [148]
 [198]]

In [61]:
def dimensionality(A):
    dim = A.shape[1]
    return dim
def count_vectors(A):
    num_vectors = A.shape[0]
    return num_vectors
def rank_matrix(A):
    rank = np.linalg.matrix_rank(A)
    return rank
def calculate_costs(A, C):
    pseudo_inv_A = np.linalg.pinv(A)
    costs = np.dot(pseudo_inv_A, C)
    return costs

dim = dimensionality(A)
num_vectors = count_vectors(A)
rank = rank_matrix(A)
costs = calculate_costs(A, C)
print('Dimensionality of the vector space is:', dim)
print('Number of vectors in the vector space is:', num_vectors)
print('Rank of matrix A is:', rank)
product_names = A_columns
cost_dict = {product_names[i]: costs[i][0] for i in range(len(product_names))}
print('Cost of each product:')
for product, cost in cost_dict.items():
    print(f'{product}: Rs {cost:.2f}')

Dimensionality of the vector space is: 3
Number of vectors in the vector space is: 10
Rank of matrix A is: 3
Cost of each product:
Candies (#): Rs 1.00
Mangoes (Kg): Rs 55.00
Milk Packets (#): Rs 18.00

In [64]:
def calculate_model_vector(A, C):
    pseudo_inv_A = np.linalg.pinv(A)
    vector = np.dot(pseudo_inv_A, C)
    return vector
X = calculate_model_vector(A, C)
print(X)

[[ 1.]
 [55.]
 [18.]]

In [78]:
data['Class'] = data['Payment (Rs)'].apply(lambda x: 'RICH' if x > 200 else 'POOR')
print("Data with Class:\n", data.head(10))

Data with Class:
   Customer  Candies (#)  Mangoes (Kg)  Milk Packets (#)  Payment (Rs)  \
0      C_1           20             6                 2           386
1      C_2           16             3                 6           289
2      C_3           27             6                 2           393
3      C_4           19             1                 2           110
4      C_5           24             4                 2           280
5      C_6           22             1                 5           167
6      C_7           15             4                 2           271
7      C_8           18             4                 2           274
8      C_9           21             1                 4           148
9     C_10           16             2                 4           198

   Unnamed: 5  Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  ...  \
0         NaN         NaN         NaN         NaN         NaN  ...
1         NaN         NaN         NaN         NaN         NaN  ...
2         NaN         NaN         NaN         NaN         NaN  ...
3         NaN         NaN         NaN         NaN         NaN  ...
4         NaN         NaN         NaN         NaN         NaN  ...
5         NaN         NaN         NaN         NaN         NaN  ...
6         NaN         NaN         NaN         NaN         NaN  ...
7         NaN         NaN         NaN         NaN         NaN  ...
8         NaN         NaN         NaN         NaN         NaN  ...
9         NaN         NaN         NaN         NaN         NaN  ...

   Unnamed: 13  Unnamed: 14  Unnamed: 15  Unnamed: 16  Unnamed: 17  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN
5          NaN          NaN          NaN          NaN          NaN
6          NaN          NaN          NaN          NaN          NaN
7          NaN          NaN          NaN          NaN          NaN
8          NaN          NaN          NaN          NaN          NaN
9          NaN          NaN          NaN          NaN          NaN

   Unnamed: 18  Candy  Mango  Milk  Class
0          NaN    1.0   55.0  18.0   RICH
1          NaN    NaN    NaN   NaN   RICH
2          NaN    NaN    NaN   NaN   RICH
3          NaN    NaN    NaN   NaN   POOR
4          NaN    NaN    NaN   NaN   RICH
5          NaN    NaN    NaN   NaN   POOR
6          NaN    NaN    NaN   NaN   RICH
7          NaN    NaN    NaN   NaN   RICH
8          NaN    NaN    NaN   NaN   POOR
9          NaN    NaN    NaN   NaN   POOR

[10 rows x 23 columns]

In [12]:
file_path = "C:\\Users\\venka\\Downloads\\Lab Session Data.xlsx"
irctc_data = pd.read_excel(file_path, sheet_name='IRCTC Stock Price')

In [112]:
price_data=irctc_data.iloc[:,3]
mean =price_data.mean()
variance=price_data.var()
print("mean of price is:",mean)
print("variance of price is:",variance)

mean of price is: 1560.6634538152612
variance of price is: 58732.36535253922

In [14]:
wednesday_data = irctc_data[irctc_data['Day'] == 'Wed']
mean_wednesday = wednesday_data['Price'].mean()
print("mean of price wednesday is:",mean_wednesday)

mean of price wednesday is: 1550.7060000000001

In [126]:
april_data = irctc_data[irctc_data['Month']=='Apr']
mean_april = april_data['Price'].mean()
print("mean of april month price  is:",mean_april)

mean of april month price  is: 1698.9526315789474

In [18]:
prob_loss = irctc_data['Chg%'].apply(lambda x: x < 0).mean()
prob_profit_wednesday = wednesday_data['Chg%'].apply(lambda x: x > 0).mean()
prob_conditional_profit_wednesday = prob_profit_wednesday / mean_wednesday
print("The probability of loss is:",prob_loss)
print("The probability of profit on wednesday is:",prob_profit_wednesday)
print("The conditonal probability of profit on wednesday is:",prob_conditional_profit_wednesday)

The probability of loss is: 0.4979919678714859
The probability of profit on wednesday is: 0.42
The conditonal probability of profit on wednesday is: 0.0002708443766903591